@using RowingApp.Models
@model Member

@using RowingApp.ViewModel
@model MemberViewModel

@{
    ViewBag.Title = "GetMember";
}

<h2>GetMember</h2>

<title>MyView</title>

<h3>Member Name: @Model.Name </h3>

<hr />
<div>
    <b>Member Details</b><br />
<br />
    <span style="background-color:@Model.NameColor">
        Member Name: @Model.Name
    </span>
</div>

